/*********************
GLOBAL STYLES
*********************/

html {
    //font-size: 1em; // 1em = 16px; Adjust if you want a different baseline.
    font-size:10px;   
}

body {
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: lighten($sb-black, 16%);
    font-family: $sans;
    font-size: 1.4rem;
    line-height: 1.5;

    @media (min-width: $screen-md-min) {
        font-size: 1.6rem;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 1.8rem; 
    }
}

.container-fluid{
    max-width: 96%;

    @media (min-width: $screen-md-min) {
        max-width: 80%;
    }
}
