/******************************************************************
Site Name: 
Author: 

Stylesheet: Typography

******************************************************************/

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/

p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none
}

ul, ol {
    // removes default list padding in Safari + Chrome
    -webkit-padding-start: 20px;
}

